<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Thread</title>
</head>

<body>
  <h1 id="title">Thread page</h1>
  <div id="thread-body">
    <div id="thread-text"></div>
    <div id="thread-replies"></div>
    <div class="new-reply">
      <form id="new-reply">
        <textarea type="text" name="text" rows="5" cols="80" placeholder="Add Reply..." required></textarea>
        <div class="controls">
          <input type="password" class="delete-password" name="delete_password" placeholder="password to delete"
            required>
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/public/js/thread.js"></script>
</body>

</html>